IndentWidth: 4

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None   
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Left
IndentCaseLabels: true
IndentCaseBlocks: false
